.img_container div {
      position: unset !important;
    }
    .img {
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
    .gradientStyle{
      background-image: linear-gradient(45deg, #00ccff, #d400d4);
      -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }