@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
.mrl-container{
    background-color: rgba(100, 100, 100, 0.05);
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto!important;
  }
  .swiper-wrapper{
    padding-top: 1.5rem;
    margin-bottom: 2.5rem;
    /* overflow-x: scroll; */
  }
  .swiper-button-prev, .swiper-button-next {
    color: #171717!important; /* Change the color of the arrow icon */
  }
  .dark .swiper-button-prev, .dark .swiper-button-next{
    color: white!important;
  }
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 1.4rem!important;
    font-weight: bold;
  }
  .swiper-pagination-bullet{
    background: #1a50f5!important;
  }
  .dark .swiper-pagination-bullet{
    background: white!important;
  }
  @media (max-width:640px) {
    .swiper{
      overflow-x: scroll!important;
    }
    .swiper::-webkit-scrollbar {
      display: none!important;
  }
    .swiper-button-prev, .swiper-button-next{
      opacity: 0!important;
    }
  }