@media (max-width:640px) {
    .swiper{
      overflow-x: scroll!important;
    }
    .swiper::-webkit-scrollbar {
      display: none!important;
  }
    .swiper-button-prev, .swiper-button-next{
      opacity: 0!important;
    }
  }